.helloForm-section-wrapper {
  background-color: #acb1b6;
  padding: 2.5rem 2.063rem 4.688rem 2.063rem;
}

.helloForm-section__title {
  margin: 0;
  font-size: 1.5rem;
  color: $black;
  @include generalText;
  letter-spacing: 1px;
  margin-bottom: 1.875rem;
  text-transform: uppercase;
}

.helloForm-section__text {
  margin: 0;
  font-size: 0.875rem;
  color: $black;
  line-height: 18px;
  //  letter-spacing: 1px;
  @include textMerri;
  margin-bottom: 2.125rem;
}

.helloForm-from {
  width: 16.875rem;
  margin: 0 auto;
}

.helloForm-form__input {
  width: 15rem;
  height: 2.875rem;
  font-size: 0.875rem;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  margin-bottom: 1.25rem;
  color: #81c784;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding: 0 0.625rem 0 1.11rem;
}

.textarea {
  padding: 1.188rem 0.625rem 0 1.125rem;
  height: 9.8rem;
}

.invalidFeedback {
  font-size: 0.75rem;
  color: #ef5350;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.438rem;
}
