.team-section-wrapper {
  background-image: url("../../images/teams/background-teams.png");
  // background-size: cover;
}

.team-cover-wrapper{
    padding: 2.5rem 0 6.188rem 0;
    background-color: rgba(22, 27, 32, 0.6);
}

.team-section-title-wrapper {
  padding: 0 2.625rem;
}

.team-section__title {
  margin: 0;
  @include generalText;
  color: $grey;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
}

.team-section__text {
  margin: 0;
  @include textMerri;
  color: $grey;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 1.188rem;
}

.team-card {
  display: flex !important;
  height: 10.813rem;
  width: 20rem !important;
  border-radius: 5px;
  margin: 0 0.625rem;
}

.card-descr-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
  width: 8.063rem;
  border-radius:  0 5px 5px 0;
  padding-left: 1.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-descr__name {
  margin: 0;
  @include generalText;
  text-align: left;
  color: $grey;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1.063rem;
}

.card-descr__information {
  margin: 0;
  @include generalText;
  text-align: left;
  color: $grey;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.card-descr__position {
  margin-bottom: 1rem;
}

.card-img-wrapper {
  width: 10.813rem;
  height: 10.813rem;
}

.team-card__image {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  object-fit: cover;
}


.team-cover-card{
    position: absolute;
    height: 10.813rem;
    width: 20rem;
    background-color: #1d252b;
    border-radius: 5px;
    padding-top: 1.125rem;
}

.team-cover-card__author-quote{
    margin: 0;
    @include generalText;
    font-size: 0.625rem;
    color: #484d52;
    text-transform: uppercase;
    margin-bottom: 1.563rem;
}

.team-cover-card__quote{
    margin: 0;
    font-size: 1.188rem;
    font-family: "Merriweather", sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #dfdfe1;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

//slider

.slick-dots li{
    margin: 0 !important;
}

 .slick-active .active-div {
  background-color: #acb1b6 !important;
 }

.slick-prev:before, .slick-next:before{
    content: '' !important;
}

.team__next-icon{
    width: 7px;
    height: 8px;
}

.slick-disabled{
    display: none !important;
}

