.top-section-wrapper {
  padding: 1.25rem 1.25rem 6.438rem 1.25rem;
  // background-color: cadetblue;
  background: url("../../images/background-nav.png") no-repeat;
  // background: url('../../image/mobile.jpg') no-repeat;
  background-size: cover;
  background-position: 22%;
}

.top-section-darkLayer{
  //to do
}


