.top-section-wrapper {
  background: url("../../images/background-nav.png") no-repeat;
  // background: url('../../image/mobile.jpg') no-repeat;
  background-size: cover;
  background-position: 22%;
}

.top-section-dark-cover{
  padding-bottom: 6.438rem;
  background-color: rgba(22, 27, 32, 0.7);
}


